{% extends "base.html" %}

{% block title %}Secure Food Delivery{% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-left">
        <h1>Welcome to Secure Food Delivery</h1>
        <p>Your data is protected with advanced cybersecurity.</p>

        <div style="margin-top:20px;">
            <a href="/register">
                <button>Register</button>
            </a>
            <a href="/login">
                <button>Login</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}

