<!DOCTYPE html>
<html>
<head>
    <title>Order History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="security-header">
    🔐 Secure Session Active | AES Encrypted Data | MFA Enabled | IDS Monitoring Active
</div>

<h2>📦 Order History</h2>

<div class="card">Order #101 - Pizza - Delivered</div>
<div class="card">Order #102 - Burger - Delivered</div>
<div class="card">Order #103 - Pasta - Cancelled</div>

<a href="/dashboard">Back</a>

</body>
</html>
