{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center; margin-top:40px;">Restaurants</h2>

<div class="restaurant-grid">

    <div class="restaurant-card card">
        <img src="https://images.unsplash.com/photo-1600891964599-f61ba0e24092" class="restaurant-img">
        <h3>Domino's</h3>
        <button>Order Now</button>
    </div>

    <div class="restaurant-card card">
        <img src="https://images.unsplash.com/photo-1550547660-d9450f859349" class="restaurant-img">
        <h3>Burger King</h3>
        <button>Order Now</button>
    </div>

    <div class="restaurant-card card">
        <img src="https://images.unsplash.com/photo-1546069901-eacef0df6022" class="restaurant-img">
        <h3>KFC</h3>
        <button>Order Now</button>
    </div>

</div>

{% endblock %}
